<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCbASf7ps6JJ9ixc63B_2ppzZ0HPWz0tts</string>
	<key>GCM_SENDER_ID</key>
	<string>11338139639</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.aleksejkuznecov.Navigation</string>
	<key>PROJECT_ID</key>
	<string>vknavfirebase-ba2b7</string>
	<key>STORAGE_BUCKET</key>
	<string>vknavfirebase-ba2b7.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:11338139639:ios:2744cf8160c9e2589b10f2</string>
</dict>
</plist>